In [10]:
#importing libraries
import re
import pandas as pd

In [22]:
pattern=r'([a-zA-Z\s]+):(.+)'

In [23]:
data={
    'name':[],
    'line':[]
}

In [24]:
with open('LOR.txt','rt') as file:
  for line in file.readlines():
    match=re.findall(pattern,line)
    if match:
      name,line=match[0]
      data['name'].append(name)
      data['line'].append(line)

In [25]:
df=pd.DataFrame(data)

In [26]:
df.head()

                    name                                               line
0                Phineas   I'll be honest, Ferb. I'm having a hard time ...
1          Doofenshmirtz   Yeah? Well, welcome to my life! (the Goozim r...
2                Phineas   Huh. And everything started out so well this ...
3   The Phineas and Ferb   Across the Second Dimension logo fades in, an...
4                Phineas   Good morning, Perry! Now that's the way to wa...

In [30]:
sum(df['name']=='Phineas')

166

In [28]:
len(df)

535

In [31]:
#getting the final dataset
df.to_csv("Phineas.csv",index=False)